$black: #090C08;
$purplegrey: #474056;
$lightgrey: #BFBDC1;
$darkergrey : #6D6A75;
$darkgrey: #37323E;
$red: red;

$mauto: 0 auto;
$border-test: 2px solid red;


$headingfont: Quicksand, sans-serif;
$primary-fc: #fff;

body{
  // overflow-y: hidden;
}

.main-container{
  width: 100%;
  height: 100%;
  background-color: $lightgrey;
  .cover{
    width: 100%;
    height: 100%;
    margin: $mauto;
    // border: $border-test;

  }

}

.loader-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 130px;
  .top-loader,
  .bottom-loader{
    width: 100%;
    .inner-top,
    .inner-btm{
      width: 50%;
      border: 1px solid $red;
      margin: auto;
    }
  }
  .top-loader{
    background-color: gold;
  }
  .bottom-loader{
    background-color: orange;
  }
}

.img-box1,
.img-box2{
  border: 1px solid blue;
  position: relative;
  width: 100%;
  // top: 200px;
  // left: 200px;
  // transform: scale(0.5);
}

.img-box1{
  animation-name: rotatePulse;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  // transform: rotate(30deg);
  transform-origin: 20% 40%;
  left: 0px;
}

// before and after are placed there so that its easier to style and use later on.
// before and after create another layer
.spinner{
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
  animation: pulseSmall 3s linear infinite;
  &:after, &:before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // background-color: gold;
    // border-top-color: orangered;
    // border-bottom-color: orangered;
  }
}

//this element here will give our after element a border of orangered so we can see it
//here we can control that layer and add styles and our animation
.spinner1:after{
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  animation: spinny 1s linear infinite;
}

.spinner4{
  &:before, &:after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background: green;
    animation: pulse 3s linear infinite;
    opacity: 1;
  }
  &:after{
    animation: pulse 2s linear infinite;
    background-color: gold;
  }
}

.spinner5:after{
  position: absolute;
  background: pink;
  top: 0px;
  // border: 4px solid;
  border-left: 2px solid purple;
  animation: test 2s linear infinite;
  transform: scale(0.4);
}

@keyframes pulseSmall {
  0% {
    transform: scale(1.5);

  }
  50%{
    transform: scale(1.9);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes test {
  0% {

    transform: scale(0.4);

  }
  50%{
    transform: scale(1.3);
    transform: rotate(360deg);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}



@keyframes rotatePulse {
  0% {
    transform: rotate(0deg) scale(1);
    left: 0px;
    top: 0px
  }

  50% {
    transform: rotate(180deg) scale(1);
    left: 300px;
    top: 200px;
  }

  100% {
    transform: rotate(360deg) scale(1);
    top: 0px;
  }
}
